[submodule "ips4o"]
	path = ips4o
	url = https://github.com/atrostan/ips4o.git
	branch = ignore-find-tbb

[submodule "parallel-hashmap"]
	path = parallel-hashmap
	url = git@github.com:greg7mdp/parallel-hashmap.git
